h1, h2 {
  color: #65350f;
  font-family: 'MedievalSharp', cursive;
  text-align: center;
}

li, p{
  color: #65350f;
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
}

ul{
  list-style-position: outside;
  margin: 0;
  padding: 5%;
}

.background-image{
  background-size: cover;
  height: 100vh;
  left: 0;
  opacity: 85%;
  position: fixed;
  top: 0;
  width: 100vw;
}

.button {
  background-image: url('images/tile.jpg');
  background-size: cover;
  border-color: black;
  border-radius: 5px;
  border-width: 2px;
  bottom: 15vh;
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  margin: 5px;
  right: 10vw;
  text-decoration: none;
}

.button-text{
  color: white;
  font-family: 'MedievalSharp', cursive;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

.button:active{
  transform: scale(0.98);
}

.button:focus{
  outline: none;
}

.display{
  /* background-image: url('images/parchment-paper.png'); */
  background-size: 100% 100%;
  margin-bottom: 5vh;
  margin-top: 5vh;
  min-height: 90vh;
}

.first-content{
  margin-top: 20vh;
}

.hide{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.home-title{
  margin-top: 35vh;
}

.last-content{
  margin-bottom: 30vh;
}

.mute{
  bottom: 5vh;
  color: white;
  cursor: pointer;
  left: 1vw;
  position: fixed;
}

.remove{
  display: none;
}

.show{
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

#home-button{
  align-self: center;
  display: block;
  width: 60%;
}