body::-webkit-scrollbar { 
  display: none 
}

h1, h2, h3, h4, h5, h6{
  color: #65350f;
  font-family: 'MedievalSharp', cursive;
  text-align: center;
}

h5{
  font-weight: bold;
}

img {
  margin-bottom: 1em;
}

input{
  align-self: center;
  background-color: #f5d871;
  border-color: black;
  border-radius: 5px;
  border-width: 2px;
  display: block;
  font-family: 'MedievalSharp', cursive;
  font-style: italic;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  width: 90%;
}

input:focus{
  background-color: white;
}

li, p{
  color: #65350f;
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
}

ul{
  list-style-position: outside;
  margin: 0;
  padding: 5%;
}

.background-image{
  background-size: cover;
  height: 100vh;
  left: 0;
  opacity: 85%;
  position: fixed;
  top: 0;
  width: 100vw;
}

.button {
  align-self: center;
  background-image: url('images/tile.jpg');
  background-size: cover;
  border-color: black;
  border-radius: 5px;
  border-width: 2px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.button-text{
  color: white;
  font-family: 'MedievalSharp', cursive;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

.button:active{
  transform: scale(0.98);
}

.button:focus{
  outline: none;
}

.display{
  background-size: 100% 100%;
  padding-bottom: 5vh;
  margin-top: 9vh;
  margin-bottom: 5vh;
  min-height: 85vh;
  overflow-y: auto;
}

.first-content{
  margin-top: 20vh;
}

.hide{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.home-title{
  margin-top: 35vh;
}

.input-separator{
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.instructions{
  background-color: #d3b18b;
  left: 10vw;
  padding-bottom: 3vh;
  padding-left: 5vw;
  position: fixed;
  top: 15vh;
  width: 80vw;
  z-index: 2;
}

.instructions-bottom{
  padding-right: 5vw;
}

.instructions-heading{
  margin-top: 5vh;
}

.last-content{
  margin-bottom: 30vh;
}

.mute{
  bottom: 5vh;
  color: white;
  cursor: pointer;
  left: 1vw;
  position: fixed;
}

.remove{
  display: none;
}

.riddle{
  background-color: #ffff88;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  padding: 10px 15px;
  z-index: 1;
}

.riddle-text{
  color: black;
  font-family: Verdana, sans-serif;
  font-size: smaller;
  font-style: italic;
  text-align: center;
}

.screen{
  background-color: #1d1c1a;
  border-color: brown;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  padding: 10px 15px;
  z-index: 1;
}

.screen-text{
  color: white;
  font-family: 'Courier New', monospace;
  font-size: smaller;
  font-style: normal;
  text-align: justify;
  text-justify: inter-word;
}

.show{
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.small{
  font-weight: bold;
}

.top-section{
  background-size: cover;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

#back, #instructions{
  color: white;
  cursor: pointer;
  margin-bottom: 0;
  margin: 10px 0;
}

#back:active {
  color: red;
}

#error{
  color: #a91b0d;
  margin-bottom: 0;
}

#home-button{
  margin-top: 15vh;
}

#remove-bottom{
  margin-bottom: 0;
}

#timer{
  margin: 10px auto;
  text-align: center;
}

#timer-content{
  align-self: center;
  border-color: brown;
  border-radius: 10px;
  border-style: solid;
  color: red;
  display: inline-block;
  font-family: 'Courier New', monospace;
  line-height: 1;
  margin-bottom: 0px;
  padding: 5px;
}